<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>add</servlet-name>
  	<servlet-class>com.abc.Controller.Admin.RegisterController</servlet-class>
  </servlet>
  
  
  <servlet>
  	<servlet-name>delete</servlet-name>
  	<servlet-class>com.abc.Controller.Admin.DeleteController</servlet-class>
  </servlet>
  
  
  <servlet>
  	<servlet-name>update</servlet-name>
  	<servlet-class>com.abc.Controller.Admin.UpdateController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>view_all</servlet-name>
  	<servlet-class>com.abc.Controller.User.ViewPatientsController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>viewByAcn</servlet-name>
  	<servlet-class>com.abc.Controller.User.ViewByAadharNumberController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>viewByAge</servlet-name>
  	<servlet-class>com.abc.Controller.User.ViewByAgeRangeController</servlet-class>
  </servlet>
  
 <servlet>
  	<servlet-name>viewByCity</servlet-name>
  	<servlet-class>com.abc.Controller.User.ViewByCityController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>add</servlet-name>
	  <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>delete</servlet-name>
	  <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>update</servlet-name>
	  <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>view_all</servlet-name>
	  <url-pattern>/view_all</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>viewByAcn</servlet-name>
	  <url-pattern>/view_by_acn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>viewByAge</servlet-name>
	  <url-pattern>/view_by_age</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>viewByCity</servlet-name>
	  <url-pattern>/view_by_city</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
<welcome-file>Index.html</welcome-file>
</welcome-file-list>
</web-app>
